---
Checks: >-
  bugprone-*,
  performance-*,
  readability-identifier-naming,
  -bugprone-command-processor,
CheckOptions:
  - key: performance-unnecessary-value-param.AllowedTypes
    value: "detail::RelativePath"
  - key: readability-identifier-naming.VariableCase
    value: "camelBack"
  - key: readability-identifier-naming.ClassCase
    value: "CamelCase"
  - key: readability-identifier-naming.FunctionCase
    value: "lower_case"
  - key: readability-identifier-naming.ClassMemberPrefix
    value: "m_"
  - key: readability-identifier-naming.GlobalConstexprVariableCase
    value: "UPPER_CASE"
